uvicorn
fastapi
sqlalchemy
alembic
pydantic
pymysql
passlib
pyjwt
python-dotenv
mysql-connector-python
email-validator
bcrypt
mangum
python-multipart
pydantic-settings
cryptography
jinja2>=3.0
cachetools
boto3==1.37.25
google-auth
google-auth-oauthlib
google-auth-httplib2
requests